<div class="app-shell-bg">
  <div class="container">
    <div class="auth-shell">
      <div class="row g-4 align-items-stretch auth-layout-row">
        <div class="d-none d-lg-block col-lg-6 hero-column">
          <app-auth-hero-panel />
        </div>

        <div class="col-12 col-lg-6">
          <section class="right-column">
            <div class="auth-form-area mt-0">
              <router-outlet />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
