<app-section-card title="Hot Locations" description="Buyer demand by area">
  <div class="locations-demand-card">
    <div class="locations-demand-card__list">
      @for (location of locations(); track location.name) {
        <div class="locations-demand-card__item">
          <div class="locations-demand-card__row">
            <strong>{{ location.name }}</strong>
            <span>{{ location.percent }}%</span>
          </div>

          <div class="locations-demand-card__bar">
            <span [style.width.%]="location.percent"></span>
          </div>
        </div>
      }
    </div>
  </div>
</app-section-card>