<div class="add-listing-page">
  <div class="container-fluid add-listing-page__container">
    <app-page-header title="Add New Property"
                     subtitle="Fill in the details below to list your property on the market."
                     [actions]="pageActions()"
                     (actionClicked)="onHeaderAction($event)" />

    @if (editingId()) {
      @if (editLoading()) {
        <app-info-banner class="d-block mb-3" icon="hourglass_empty" text="Loading property…" />
      } @else if (editLoadError(); as err) {
        <app-info-banner class="d-block mb-3" icon="error_outline" [text]="err" />
      }
    }

    <div class="row g-4">
      <div class="col-12 col-xl-8">
        <div class="add-listing-page__left">
          <app-basic-information-section [form]="basicInfoForm" />
          <app-pricing-details-section [form]="pricingForm" />
          <app-features-amenities-section [form]="amenitiesForm" />
          <app-property-media-section [form]="mediaForm" />
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="add-listing-page__right">
          <app-property-location-step [form]="locationForm" />
          <app-contact-information-step [form]="contactForm" />
          <app-property-description-step
            [form]="descriptionForm"
            [aiDescriptionEnabled]="aiDescriptionContextReady()"
            [aiDescriptionLoading]="isGeneratingDescription()"
            (generateDescription)="onGenerateDescription()"
          />
        </div>
      </div>
    </div>
  </div>
</div>